/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

/*******************************************************************************
 *                                                                             *
 * Cells                                                                       *
 *                                                                             *
 ******************************************************************************/
.BlackCellClass {
    -fx-background-color: #000099;
    -fx-border-color: black;
}

.WhiteCellClass {
    -fx-background-color: #008080;
    -fx-border-color: black;
}

.UndefinedCellClass {
    -fx-background-color: #b3d9ff;
    -fx-border-color: black;
}

.SelectedCellClass {
    -fx-border-width: 150%;
}

.NotSelectedCellClass {
    -fx-border-color: black;
    -fx-background-color: beige;
}

.PerfectBlockClass {
    -fx-text-fill: red;
}


.HoveredCellClass {
    -fx-opacity: 0.6;
}

.gameLayoutClass {
    -fx-background-color: #bfbfbf;
}

/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;

    -fx-background-radius: 0;

    -fx-background-color: #1d1d1d;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #219297;
}
