/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: darkblue;
    -fx-opacity: 0.6;
}

/*******************************************************************************
 *                                                                             *
 * Cells                                                                       *
 *                                                                             *
 ******************************************************************************/
.BlackCellClass {
    -fx-background-color: green;
    -fx-border-color: black;
}

.WhiteCellClass {
    -fx-background-color: yellowgreen;
    -fx-border-color: black;
}

.UndefinedCellClass {
    -fx-background-color: yellow;
    -fx-border-color: black;
}

.SelectedCellClass {
    -fx-border-width: 150%;
}

.NotSelectedCellClass {
    -fx-border-color: black;
    -fx-background-color: lightyellow;
}

.PerfectBlockClass {
    -fx-text-fill: red;
}

.HoveredCellClass {
    -fx-opacity: 0.6;
}

.gameLayoutClass {
    -fx-background-color: #b3d9ff;
}

/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-style: null;
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: mediumpurple;
}

.button:hover {
    -fx-background-color: #d8d8d8;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.button:default {
    -fx-background-color: mediumpurple;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #219297;
}

